{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal">{{ 'register'|trans({}, 'common') }}</h1>
{% include "form.html.twig" %}
{% endblock %}
