{% extends 'base.html.twig' %}

{% block title %}Importer un relevé de compte{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Importer un relevé de compte</h1>
    {% include "form.html.twig" %}
{% endblock %}