{% extends 'base.html.twig' %}

{% block title %}compte: {{ bankAccount.name }}{% endblock %}

{% block body %}
<h1 class="h3 mb-3 font-weight-normal">Compte : {{ bankAccount.name }}</h1>
{% endblock %}